[Desktop Entry]
Type=Application
Name=kModel
GenericName=3D Model Viewer
Comment=View 3D model files
Exec=kmodel %f
Icon=applications-graphics
Terminal=false
Categories=Graphics;3DGraphics;Viewer;Qt;KDE;
MimeType=model/stl;application/sla;
